@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #faebeb;
  line-height: 1.4;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background: #fff;
  border-radius: 10px;
  max-width: 1100px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

.main-section {
  padding: 3rem 4rem;
}

.title {
  margin-bottom: 2rem;
  width: 80%;
}

.title h1 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title p {
  font-size: 0.9rem;
}

.form {
  display: grid;
  gap: 1rem;
}

.form input {
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

input::placeholder {
  color: #ccc;
}

.bottom-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bottom-link button {
  all: unset;
  background: #0d7196;
  color: #fff;
  padding: 1rem 2.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px #046487;
  cursor: pointer;
  transition: background 200ms ease-in;
}

.bottom-link button i {
  margin-left: 6px;
}

.bottom-link button:hover {
  background: #046487;
}

.bottom-link a {
  text-decoration: none;
  color: #046487;
}

hr {
  height: 2px;
  border-width: 0;
  background: #eee;
  margin: 2rem 0;
}

.footer p {
  text-align: center;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.social .link {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.75rem 2.5rem;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social button {
  all: unset;
  transition: background 200ms ease-in;
}

.social button:hover {
  background: #eee;
}

.social .link a {
  text-decoration: none;
  color: #333;
}

.social i {
  margin-right: 0.75rem;
  font-size: 1.5rem;
}

.bottom-text {
  margin-top: 3rem;
}

.bottom-text a {
  color: #046487;
}

.img-section {
  height: 600px;
  position: relative;
}

.img-section .icon {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  right: 10px;
  top: 10px;
  display: grid;
  place-items: center;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 200ms ease-in;
}

.img-section .icon:hover {
  opacity: 1;
}

.img-section .icon i {
  font-size: 1.25rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
